<launch>
   <!-- Launch Odometry -->
   <node name="odometry" pkg="odometry"  type="odometry.py" output="screen"/>

   <!-- Launch rosbag -->
   <node pkg="rosbag" type="record" 
            args="-o /media/usb-drive/ /odom /VideoRaw"
    />
   
   <!-- To kill rosbag record properly: rosnode kill /bag -->
   
   <node name="video_publisher" pkg="video_publisher"  type="video_publisher.py" output="screen"/>

</launch>
